<table>
<tr>
<th>Day</th>
<th>Meal</th>
<th>Dish</th>
<th>View</th>

</tr>
<% @meals.each do |m| %>
<tr>

    <% m.id %>
    <td><%= m.day_name %></td>
    <td><%= m.meal_time %></td>
    <td><%= m.display_dish %></td>
    
    <td><%= link_to "View", meal_path(m.id) %></td>

</tr>
<% end %>

</table>
