<table id="meals">
<tr>
<th>Day</th>
<th>Meal</th>
<th>Dish</th>
</tr>
<tr>
<td><%= link_to @meal.day_name, edit_meal_path(@meal.id) %></td> 
<td><%= link_to @meal.meal_time, edit_meal_path(@meal.id) %></td>


<%= add_edit_dish(@meal) %>
<%# can turn this if into a helper method in meals. %>

</tr>
</table>
