<table id="meals">
    <tr>
        <th>Dish</th>
        <th>Edit</th>
    </tr>
    <tr>
        <td><%= @dish.dish_name %> </td>
        <td><%= link_to "Edit", edit_meal_path(@meal.id) %></td>
    </tr>
</table>
